---
import AboutHeroImage from '../../assets/skill-tree.png';
import Layout from '../../layouts/BlogPost.astro';
// Define your data directly in the frontmatter
import CVTable from '../../components/CVTable.astro';
---

<Layout
        title="Experience"
        description="My previous Experience"
        pubDate={new Date('2026-06-23')}
        heroImage={AboutHeroImage}
>
    <p></p>
</Layout>
