---
import AboutHeroImage from '../../assets/skill-tree.png';
import Layout from '../../layouts/BlogPost.astro';
// Define your data directly in the frontmatter
---

<Layout
	title="Timeline"
	description="Timeline of previous positions I've held and projects I've worked on"
	pubDate={new Date('2026-06-24')}
	heroImage={AboutHeroImage}
>
	<p>Timeline</p>
</Layout>
